.img_slider{
	object-fit: cover;
	height: 350px;
}
.carousel-caption{
	padding-bottom: 0;
	width: 100%;
	right: 0;
	left: 0;
	text-align: left;
	padding-left: 2%;
	/*background: rgba(101, 89, 199, 0.7);*/
	background: rgba(0, 0, 0, 0.5);
	margin-bottom: -3%;
}
.carousel-indicators{
	bottom: -3%;
}